{% extends 'base.html' %}
{% load static %}
{% block HeadBlock %}<link rel="stylesheet" type="text/css" href="{% static 'main/HomePage.css' %}">{% endblock %}

{% block BodyBlock %}

	<div id="top-banner">
		<div>
			<img src="/static/main/doctorimage.jpg" style="width: 300px; border-radius: 10px;" alt="Doctor's Image">
			<br>
			<strong>Dr. Rashmi</strong>
		</div>
		<div>
			<div id="banner-info">
				<br>
				<span class="big-text"><center><a href="/consultation/">GET CONSULTATION NOW!</a></center></span>

				Dr. Rashmi's <strong class="highlight">Ideal Cure Homoeopathy & Wellness Clinic</strong><br>offers Homoeopathic Treatment to all
				<br>Acute, Chronic, Difficult & Complicated Diseases. <br><br>
				
				The Clinic's unique scientific and artistic methodology
				<br>
				cures the diseases rapidly, permanently, and gently too!
				<br><br><br>
				<span class="big-text"><center><a href="/consultation/" style="background: purple;color: white;font-size: 25px;padding: 20px;border-radius: 10px;">BOOK NOW!</a></center></span>
			</div>
		</div>
	</div>

	<div id="why">
		<div id="why-homoeopathy">
			<span class="heading">Why Homoeopathy</span>
			<br>
			<p>
				Homoeopathy is a therapeutic system of medicine which is based on the principle, “Similia Similibus Curentur”<br>or ‘let likes be treated by likes'.
				<br><br>
				By this,it  means that Homoeopathic medicines stimulate the body's own natural ability to fight off the diseases and CURE of the suffering is obtained.
				<br><br>
				This system does not suppress the symptoms
				<br>
				but CURES them-rapidly, permanently and gently too!
				<br><br>
				Homoeopathy is gaining widespread popularity all across the world because these medicines do not have any suppression of symptoms, any adverse side effects, are easy to consume and are cost effective.
			</p>
		</div>
		<!-- <hr> -->
		<div class="why-us">
			<span class="heading">Why Ideal Cure Homoeopathy & Wellness Clinic</span>
			<br>
			<p>
				<i>An Ideal Cure should be rapid, gentle, & permanent.</i><br><br>
				Finding the most appropriate Homoeopathic medicines for the suffering patient is a very demanding job.
				<br>
				It needs careful observation and correct interpretation of symptoms.
				<br><br>
				At our clinic, this job of Individualization (finding the most perfect medicine and its dose) is done with extreme caution and due diligence.
				<br><br>
				It is because of the dedication & commitment to these ideals, that Dr. Rashmi has shown astonishing results in innumerable cases of the most difficult and complicated diseases.
				<br><br>
				You should choose this clinic because:
				<br>
				<ul style="list-style: initial; margin-left: 20px;">
					<li><strong>True classical Homoeopathy </strong>in its purest form is practiced.</li>
					<li><strong>You are you : </strong>At the clinic, we understand that each patient is unique and so are one's problems, and therefore must be treated individually as per their needs.</li>
					<li><strong>Holistic approach, </strong>compassionate care and honest advice to patients.</li>
					<li><strong>Follow up : </strong>careful observation is maintained all through the follow up.</li>
					<li><strong>Diet & life style advice </strong>constitute an important role in the treatment. These are as important as the medication is.</li>
					<li><strong>MINIMUM</strong> medicine & <strong>MAXIMUM</strong> relief is our motto></li>
					<li><strong>World class Homoeopathic treatment at most affordable cost.</strong> Flexible treatment plans to suit every need.</li>
				</ul>
			</p>
		</div>
	</div>

	<div id="faqs">
		<div>
			<center class="highlight" style='font-size: 21px;'><strong>Frequently Asked Questions</strong></center>
			<br>
			{% for faq in faqs %}
				<span id="{{ faq.id }}">
					<strong class="ques" onclick="toggleFaq('{{ faq.id }}')">Q. {{ faq.Question }} <i class="material-icons">compress</i></strong>
					<br><br>
					<span class="ans"> A. {{ faq.Answer }}</span>
					<br><hr><br><br>
				</span>
			{% endfor %}
		</div>
	</div>

	<div id="about">
		<center class="heading">
			<strong>About</strong>
		</center>
		<p>
			<div style="width: 60%;margin: 0 20%;">
			Dr. Rashmi,BHMS, is an ardent follower and practitioner of classical Homoeopathy.
			<br>
			She incorporates the core principles of Homoeopathy into her clinical practice.
			<br><br>
			With a burning desire to cure her patients, with dedication and a vast clinical experience of more than 20 years,
			<br>
			she has treated hundreds of cases of diseases which were not getting any relief or declared as incurable.
			<br><br>
			She offers quality treatment to patients visiting her clinic personally and also Online consultation by normal voice call or WhatsApp video call.
			</div>
		</p>
	</div>

{% endblock %}

{% block ScriptBlock %}
	<script type="text/javascript" src="/static/main/faqtoggle.js"></script>
{% endblock %}