{% extends 'base.html' %}
{% load static %}

{% block HeadBlock %}
	<link rel="stylesheet" type="text/css" href="{% static 'main/TreatmentPage.css' %}">
{% endblock %}

{% block BodyBlock %}

	<div id="treatment-container">
		<div id="treatment-details">
			<div class="heading treatment-heading">{{ treatmentFor.Name }}</div>
			<div class="treatment-card">
				<br>
				{% if treatmentFor.ImageLink %}
					<div id="treatment-img">
						<img src="{% static 'treatments/' %}{{ treatmentFor.ImageLink }}"> 
					</div>
				{% endif %}
				<div style="text-align: justify;">
					{{ treatmentFor.Description |safe }}
				</div>
			</div>
		</div>
		<div id="treatments-bar">
			<br><br>
			<strong class="heading" style="border-bottom: 1px solid black;">Other Treatments offered</strong>
			<br><br>
			{% for treatment in treatments %}
				<div class="treatment-card-brief">
					<strong class="sub-heading">{{ treatment.Name }}</strong>
					<br>
					<a href="/treatments/{{ treatment.Name }}">Read More</a>
					<br><br>
				</div>
			{% endfor %}
		</div>
	</div>

	<div style="
		background: lightblue;
		text-align: center;
		padding: 20px;
		margin: 30px 0;
	" class="toconsultation">
		Dr.Rashmi's Ideal Cure Homoeopathy & Wellness Clinic can help you with {{ treatmentFor.Name }}.
		<br><br>
		<a class="heading" href="/consultation">
			Book a live consultation session NOW!
		</a>
	</div>

{% endblock %}