{% extends 'base.html' %}
{% load static %}
{% block HeadBlock %}<link rel="stylesheet" type="text/css" href="{% static 'consultation/ConsultationPage.css' %}">{% endblock %}

{% block BodyBlock %}

<div id="outer">
	<div id="slideshowdiv">
		<img id="1" class="slide-active" src="{% static 'main/consultation-mobile.jpg' %}">
		<img id="2" class="slide-inactive" src="{% static 'main/consultation-laptop.png' %}">
		<img id="3" class="slide-inactive" src="{% static 'main/homeopathy-1.jpg' %}">
		<img id="4" class="slide-inactive" src="{% static 'main/homeopathy-2.jpg' %}">
	</div>
	<div id="container">
		<div id="consultation-form">
			{% if request.user.get_full_name == AnonymousUser %}<a class="consultation-form-button" href="/profile_login">Existing Users Login here</a><br>{% endif %}
			<br><br>
			<center>FILL IN THIS FORM TO BOOK A CONSULTATION SESSION</center>
			<br>
			<form method="POST">{% csrf_token %}
				<div id="consultation-form-first-section">
					<div id="consultation-form-essentials">
						<input type="name" name="Name" id="name" placeholder="Full Name (required)" value="{{ name }}" required>
						<br>
						<input type="number" name="Number" placeholder="Number (required)" value="{{ number }}" required>
						<br>
						<input type="email" name="Email" placeholder="Email" value="{{ email }}">
					</div>
					<div id="consultation-form-description">
						<textarea placeholder="Description / Symptoms..." name="description"></textarea>
					</div>
				</div>
				<br><br>
				<div id="consultation-form-second-section">
					<input id="slot-date" type="date" name="slot-date" min="{{ mindate }}" max="{{ maxdate }}" required><br><br>
					<input id="slot-time" name="slot-time" list="" required placeholder="Pick your time *" autocomplete="off">
				</div>
				<br><br>
				<a href="#payment" class="consultation-form-button" onclick="ProceedToPayment()">Choose a treatment plan</a>
				{% for day,slotlist in slots.items %}
					<datalist id="{{ day }}">
						{% for slot in slotlist %}
							<li>
								<option>Timings of the slot : {{ slot.GetSlotDescription }}</option>
							</li>
						{% endfor %}
					</datalist>
				{% endfor %}
			<!-- </form> -->
		</div>
	</div>
</div>
<div id="payment">
	<br><br><br><br><br>
	<center>
		<strong>Dr. Rashmi's Homoeopathy & Wellness Clinic offers you the best of the affordable Treatment Plans.</strong>
		<br>
		<i>Choose them as per your need :</i>
	</center>
	<hr><br>
	<table>
		<tr>
			<th>Price</th>
			<th>Duration</th>
			<th>Description</th>
			<th>Choose the slot</th>
		</tr>
	{% for package in packages %}
		<tr id="{{ package.Price }}" class="package-card" onclick="ChoosePackage(this)">
			<td>{{ package.GetPrice }}</td>
			<td>{{ package.GetDuration }}</td>
			<td>{{ package.Description | safe }}</td>
			<td><input type="radio" name="package" value="{{ package.Price }}" required></td>
		</tr>
	{% endfor %}
	</table>
	<center>
		<img src="{% static 'main/qrcode.jpeg' %}" style="width: 300px;">
		<br>
		<small><i>Please Make the payment by scanning this code</i></small>
		<br><br><br>
		<input class="consultation-form-button" type="submit" name="submit" value="BOOK MY SLOT">
		<br><br><br><br>
	</center>
</div>
</form>

{% endblock %}

{% block ScriptBlock %}
	<script type="text/javascript" src="{% static 'consultation/slotchooser.js' %}"></script>
	<script type="text/javascript" src="{% static 'consultation/slideshow.js' %}"></script>
	<script type="text/javascript" src="{% static 'consultation/packagechooser.js' %}"></script>
	<script type="text/javascript">
		document.getElementById('name').focus();
	</script>
{% endblock %}