{% extends 'base.html' %}
{% load static %}
{% block HeadBlock %}<link rel="stylesheet" type="text/css" href="{% static 'consultation/plans.css' %}">{% endblock %}

{% block BodyBlock %}
	<div id="main">
		<br>
		Dr. Rashmi's Homoeopathy & Wellness Clinic offers you the best of the affordable Treatment Plans.
		<br>
		Choose them as per your need :
		<br><br>
		<span class="big-text"><center><a href="/consultation/" style="background: turquoise;color: black;font-size: 22px;padding: 10px;border-radius: 10px;">BOOK A SESSION NOW!</a></center></span>
		<br>
		<!-- <table>
			<tr>
				<th>S. No.</th>
				<th>Price</th>
				<th>Duration</th>
				<th>Description</th>
			</tr>
			{% for package_count in packages_count %}
			<tr>
				<td>{{ package_count }}</td>
				<td>{{ packages.package_count }}</td>
				<td>{{ packages.package_count }}</td>
				<td>{{ packages.package_count }}</td>
			</tr>
			{% endfor %}
		</table> -->
	</div>
	<br><br>
	<div>
		{% for package_count in packages_count %}
			{{ packages.package_count }}
			<br>
		{% endfor %}
	</div>
{% endblock %}

{% block ScriptBlock %}

{% endblock %}