{% extends 'base.html' %}
{% block main %}
<section class="h-100" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6">
                            <form method="POST">{% csrf_token %}
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-2 text-uppercase text-center">Personal Information</h3>
                                    {% if not request.user.is_authenticated %}
                                    <a class="mb-3 text-center" href="/login">Existing users Login Here</a>
                                    {% else %}
                                    <br>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                {% if request.user.is_authenticated %}
                                                <input type="text" readonly class="form-control" value="{{ request.user.get_full_name }}" name="name">
                                                {% else %}
                                                <input type="text" class="form-control" placeholder="Full Name required" name="name" required />
                                                {% endif %}
                                                <label class="form-label">Full Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                {% if request.user.is_authenticated %}
                                                <input type="text" readonly class="form-control" value="{{ request.user.username }}" name="number">
                                                {% else %}
                                                <input type="number" readonly class="form-control" id="number" placeholder="Contact Number required" name="number" required />
                                                <label id="number-label" class="form-label" style="cursor: pointer;" onclick="sawo.showForm();">Click here to verify</label>
                                                {% endif %}
                                                <label class="form-label">Contact Number</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        {% if request.user.is_authenticated %}
                                        <input type="email" readonly class="form-control" value="{{ request.user.email }}" name="email">
                                        {% else %}
                                        <input type="email" class="form-control" placeholder="Email Address required" name="email" required />
                                        {% endif %}
                                        <label class="form-label" for="form3Example8">Email address {% if not request.user.is_authenticated %}<small><i class="text-muted">(your first password will be sent over this mail)</i></small>{% endif %}</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text">Gender</label>
                                                </div>
                                                {% if request.user.is_authenticated %}
                                                <input type="text" readonly class="form-control" value="{{ request.user.Gender }}" name="gender">
                                                {% else %}
                                                <select class="custom-select w-50" name="gender">
                                                    <option value="female">Female</option>
                                                    <option value="male">Male</option>
                                                    <option value="other">Other</option>
                                                </select>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text">Age</label>
                                                </div>
                                                {% if request.user.is_authenticated %}
                                                <input type="number" readonly class="form-control" value="{{ request.user.Age }}" name="age">
                                                {% else %}
                                                <input type="number" class="form-control" placeholder="Current Age" name="age" required autocomplete="off" />
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="highlight">
                                        For assistance
                                    </div>
                                    <i class="fa fa-phone-alt" style="margin-top: 10px;"></i>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; +91 88-0034-6979
                                    <br>
                                    <i class="fa fa-envelope" style="margin-top: 10px;"></i>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;care@idealcure.net
                                </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black" style="background: var(--helper-color-2);">
                                <h3 class="mb-2 text-uppercase text-center">Book a Consultation Session</h3>
                                <div class="form-outline mb-4">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description/Symptoms" name="symptoms"></textarea>
                                    <label class="form-label">Symptoms</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">Slot Day</label>
                                            </div>
                                            {% for day,slotlist in slots.items %}
                                            <datalist id="{{ day.GetDate }}">
                                                {% for slot in slotlist %}
                                                <li>
                                                    <!-- <option value="{{ slot.TimeAlloted }}">{{ slot.GetSlotDescription }}</option> -->
                                                    <option>Timings of the slot : {{ slot.GetSlotDescription }}</option>
                                                </li>
                                                {% endfor %}
                                            </datalist>
                                            {% endfor %}
                                            <input class="form-control" type="date" min="{{ mindate.GetDate }}" max="{{ maxdate.GetDate }}" id="slot-date" name="slot-date" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">Slot Time</label>
                                            </div>
                                            <input class="form-control" id="slot-time" name="slot-time" list="" required placeholder="Pick your time *" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4 w-100">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">Treatment</label>
                                            </div>
                                            <select class="custom-select w-75" name="treatment-for" required>
                                                <option selected>Choose...</option>
                                                {% for treatment in treatments %}
                                                {% if selected_treatment %}
                                                {% if treatment.Name == selected_treatment.Name %}
                                                <option selected value="{{ treatment.Name }}">{{ treatment.Name }}</option>
                                                {% endif %}
                                                {% else %}{% endif %}
                                                <option value="{{ treatment.Name }}">{{ treatment.Name }}</option>
                                                {% endfor %}
                                                <option>Others</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4 w-100">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">Package</label>
                                            </div>
                                            <select class="custom-select w-75" id="package" name="package">
                                                {% for package in packages %}
                                                {% if selected_package %}
                                                {% if package.Price == selected_package.Price %}
                                                <option selected value="{{ package.Price }}">{{ package.GetPrice }} for {{ package.GetDuration }}</option>
                                                {% endif %}
                                                {% else %}{% endif %}
                                                <option value="{{ package.Price }}">{{ package.GetPrice }} for {{ package.GetDuration }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end pt-3">
                                    <a href="/consultation" class="btn btn-light btn-lg">Reset</a>
                                    <input type="submit" class="btn btn-primary btn-lg ms-2" id="submit" value="Checkout to payment" />
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="sawo-container" style="height: 100%; width: 100%; position: fixed; z-index: 10; top: 0; left: 0; display: none;"></div>
<script src="https://websdk.sawolabs.com/sawo.min.js"></script>
<script>
var config = {
    containerID: "sawo-container",
    identifierType: "phone_number_sms",
    apiKey: "{{ SAWO_API_KEY }}",
    onSuccess: (payload) => {
        document.getElementById('number').value = payload.identifier.replace("+91", "");
        document.getElementById('number-label').innerHTML = "Number Verified, continue to book your slot";
    },
};
var sawo = new Sawo(config);
// sawo.showForm();
</script>
{% endblock %}
{% block JSBlock %}<script type="text/javascript" src="/static/js/consultation.js"></script>{% endblock %}