<!--
Made By:-
 ---------------  ----------------    ----------   ----------   ------------ \                / ---------------- |\        |
|               \ |               \  /          \  |         \  |             \              /         |         | \       |
|                 |               / |            | |          \ |              \            /          |         |  \      |
|                 |---------------  |            | |          | |               \          /           |         |   \     |
|                 |       \         |------------| |	      | |------------	 \        /            |         |    \    |
|                 |        \	    |	         | |	      | |                 \      /             |         |     \   |
|                 |         \	    |            | |	      / |                  \    /              |         |      \  |
|               / |          \	    |            | |	     /  |                   \  /               |         |       \ |
 ---------------  |           \	    |            | ----------   -------------	     \/	        ---------------- |        \|
-->{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="Ideal Cure Homoeopathy & Wellness Clinic">
	<title>Ideal Cure</title>
	<link rel="shortcut icon" href="{% static 'main/logo.jpeg' %}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">
	{% block HeadBlock %}{% endblock %}
</head>
<body>

	<div class="root">
		<div id="top-nav">
			<ul>
				<li><a href="/"><img src="/static/main/logo.jpeg" alt="Gentle Cure Logo" style="height: 80px;"></a></li>
				<li>
					Treatments Offered <i class="material-icons">expand_more</i>
					<ul>
						{% for treatment in treatments %}
							<li><a href="/treatments/{{ treatment.Name }}">{{ treatment.Name }}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li><a href="/consultation/">Online Consultation</a></li>
				<li><a href="/consultation/plans">Treatment Plans</a></li>
				<li><a href="/#why">Why Homoeopathy</a></li>
				<li><a href="/#faqs">F.A.Q.s</a></li>
				<li><a href="/#about">About</a></li>
				<li><a href="/profile">
				{% if request.user.is_authenticated %}
					<!-- {{ request.user.get_full_name }} -->
					{{ request.user.first_name }}
				{% else %}
					Profile
				{% endif %}
				</a></li>
			</ul>
		</div>
		<div id="burger-container">
			<div id="burger"><i id="burger-menu" class="material-icons">menu</i></div>
			<ul id="burger-items">
				<li><a href="/">Home</a></li>
				<li class="burger-collapsable-item">
					Treatments Offered <i class="material-icons">expand_more</i>
					<ul>
						{% for treatment in treatments %}
							<li><a href="/treatments/{{ treatment.Name }}">{{ treatment.Name }}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li><a href="/consultation">Online Consultation</a></li>
				<li><a href="/consultation/plans">Treatment Plans</a></li>
				<li class="burger-item"><a href="/#why">Why Homoeopathy</a></li>
				<li class="burger-item"><a href="/#faqs">F.A.Q.s</a></li>
				<li class="burger-item"><a href="/#about">About</a></li>
				<li><a href="/profile">
				{% if request.user.is_authenticated %}
					{{ request.user.get_full_name }}
				{% else %}
					Profile
				{% endif %}
				</a></li>
			</ul>
		</div>
		
		<center>
			{% if messages %}
				{% for message in messages %}
					{{ message }}
				{% endfor %}
			{% endif %}
		</center>

		{% block BodyBlock %}{% endblock %}

		<div id="bottom-section">
			<div id="quick-links">
				<h2 style="color: inherit; font-family: inherit;"><i>Quick Links</i></h2>
				<ul style="padding-left: 20px; list-style: initial;">
					<li><a href="/consultation">Online Consultation</a></li>
					<li><a href="/consultation/plans">Treatment Plans We Offer</a></li>
					<li><a href="/#why">Why Homoeopathy</a></li>
					<li><a href="/#faqs">Frequently Asked Questions</a></li>
					<li><a href="/#about">About Ideal Cure</a></li>
					<li><a href="/tnc">Terms & Conditions</a></li>
					<li><a href="/privacy">Privacy Policy</a></li>
				</ul>
			</div>
			<div id="brief-info">
				<strong style="color: lightgreen;">
					Dr. Sample's
				<br>
				Ideal Cure Homoeopathy & Wellness Clinic
				</strong>
				<br><br>
				ABC-12 Sample Colony
				<br>
				Sample City, Sample State-123456
				<br><br>
				<strong style="color: lightgreen;">Customer Care</strong>
				<br>
				<i>( 10 am to 9 pm )</i>
				<br>
				<a href="tel:+919876543210"><i class="material-icons" style="margin-top: 10px;">phone</i>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; +91 987-654-321-0</a>
				<br>
				<a href="mailto:sample@gmail.com" target="blank"><i class="material-icons" style="margin-top: 10px;">mail</i>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;sample@gmail.com</a>
			</div>
		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	{% block ScriptBlock %}{% endblock %}
	<script src="{% static 'main/base.js' %}"></script>
</body>
</html>